APP_EXPOSE_PORT=3063
NEXT_PUBLIC_API_URL=http://127.0.0.1:3060

DATABASE_EXPOSE_PORT=3061
DATABASE_USER=root
DATABASE_PASS=encrypted
DATABASE_NAME=debugr4
DATABASE_URL=postgresql://root:encrypted@postgre_db_3061_port:5432/debugr4

PGADMIN_EXPOSE_PORT=3062
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
